{% extends 'admin_area/admin_areaBase.html'%}
{% load static %}

{% block content %}
<h4><b>{{order_count}} records found</b></h4>


<div class="container-fluid">
    {% include 'includes/alert.html' %}
    <div>
        <table class="table table-hover table-light">
            <thead class="bg-dark">
              <tr style="color: rgb(237, 236, 238);">
                <th scope="col">Order</th>
                <th scope="col">Transaction</th>
                <th scope="col">User</th>
                <th scope="col">Contact</th>
                <th scope="col">Status</th> 
                <th scope="col">Vendors</th>                    
                <th scope="col">Payment Mthod</th>                   
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
              <tr>
                <td><strong>{{order.order_number}}</strong></td>
                <td><strong>{{order.payment}}</strong></td> 
                <td>{{order.name}}</td>
                <td><p>{{order.email}}</p><p>{{order.phone}}</p><p>{{order.country}}</p><p>{{order.city}}</p></td>                              
                <td>{% if order.is_ordered %} 
                       <p style="color: rgb(7, 143, 7);"><b>Complete</b></p> 
                    {% else %}
                        <p style="color:rgb(218, 30, 30);"><b>Failed</b></p>                       
                    {% endif %}
                </td>

                {% if order.display_vendor %}                    
                <td><b>{{order.display_vendor}}</b></td>                
                {% endif %}    
                <td>{{order.payment_method}}</td>             
                <!-- <td><a href="#" class="btn btn-success btn-sm">Change Status</a></td> -->

              </tr>         
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}