{% extends 'customer/customerBase.html' %}
{% load static %}


{% block content %}


 <main class="dash-content">
                <div class="container-fluid">                   
                    <div class="row mb-4">

                        
                      
                    
                        <table class="table table-hover table-light">
                            <thead class="bg-light">
                              <tr>
                                <th scope="col">Orders #</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                              <tr>
                                <td><b><a href="{% url 'order_details' order.order_number %}" class="text-dark">{{order.order_number}}</a></b></td>
                                <td>{{order.name}}</td>
                                <td>{{order.phone}}</td>
                                <td>₹ {{order.total}}</td>
                                <td>{{order.status}}</td>
                                <td>{{order.created_at}}</td>
                                <td><a href="{% url 'order_details' order.order_number %}" class="btn btn-danger btn-sm">Details</a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>

                    
                </div>




{% endblock content %}