
{% extends 'foody/base.html' %}
{%load static %}


{% block content %}

  
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    {% comment %} <h2 class="title-page">FoodKart</h2> {% endcomment %}
    
  </div> <!-- container //  -->
  </section>
  <!-- ========================= SECTION INTRO END// ========================= -->
  
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
  <div class="container">
  
  <div class="row">
    
    <main class="col-md-12">
  
  <header class="border-bottom mb-4 pb-3">
      <div class="form-inline">
        <span class="mr-md-auto"><b>{{vendors.count}} Restaurants found</b></span>
        
      </div>
  </header><!-- sect-heading -->
  
  <div class="row">
    {% for vendor in vendors %}    
    <div class="col-md-3">
      <figure class="card card-product-grid">              
        <div class="img-wrap"> 
          {% if vendor.vendor.userprofile.profile_picture %}
          <img width="259px" height="220px" src="{{ vendor.vendor.userprofile.profile_picture.url }}" alt="Profile Picture">
          {% else %}
           <p>No Profile Picture</p>
          {% endif %}       
        </div> <!-- img-wrap.// -->
        
        <figcaption class="info-wrap">
          <div class="fix-height">
            <h4 class="title"><a class="p-2" style="text-decoration:none" href="{% url 'vendor_details' vendor.vendor_slug %}">{{vendor.vendor_name}}</a></h4>
            

            {% comment %} <h4 class="title"><a class="p-2" style="text-decoration:none" href="#">{{vendor.vendor_name}}</a></h4> {% endcomment %}
           
            <!--THIS VODE BELOW-->
             {% if vendor.is_open %}
            <p><span class="badge badge-pill badge-success">Open </span></p>
            {% else %}
            <p><span class="badge badge-pill badge-danger">Closed </span></p>
            {% endif %} 

            <!--THIS VODE ABOVE-->

            <p class="p-2">{{vendor.vendor.userprofile.address}}</p>
            
          </div>
          <a href="{% url 'vendor_details' vendor.vendor_slug %}" class="btn btn-block btn-light">View Menu </a>
          {% comment %} <a href="#" class="btn btn-block btn-light">View Menu </a> {% endcomment %}

        </figcaption>
      </figure>
    </div> <!-- col.// -->  
    {% endfor %}
  </div> <!-- row end.// -->
  
  
 
  
    </main> <!-- col.// -->
  
  </div>
  
  </div> <!-- container .//  -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  

{% endblock content %}


