
{% extends 'foody/base.html' %}
{%load static %}


{% block content %}
{% comment %} <div class="card">
    <div class="card-header">
      Category Name
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Product 1</li>
      <li class="list-group-item">Product 2</li>
      <li class="list-group-item">Product 3</li>
    </ul>
  </div> {% endcomment %}
{% comment %} <br>
<br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card mx-auto" style="width: 35rem;">
          <div class="card-header">
            Category Name
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Product 1</li>
            <li class="list-group-item">Product 2</li>
            <li class="list-group-item">Product 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
<br> {% endcomment %}
  {% comment %} =======================================FROM HERE ON================================== {% endcomment %}

{% comment %}   
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Quant trident shirts</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>310</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$13.99</h4>
                    <span class="text-danger"><s>$20.99</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/new/img(4).webp"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Quant olap shirts</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>289</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$14.99</h4>
                    <span class="text-danger"><s>$21.99</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/new/img(5).webp"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>Quant ruybi shirts</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>145</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For women</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable.
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$17.99</h4>
                    <span class="text-danger"><s>$25.99</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}


  
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">FoodKart</h2>
    
  </div> <!-- container //  -->
  </section>
  <!-- ========================= SECTION INTRO END// ========================= -->
  
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
  <div class="container">
  
  <div class="row">
    <aside class="col-md-3">
      
  <div class="card">
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
          <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Categories</h6>
        </a>
      </header>
      <div class="filter-content collapse show" id="collapse_1" style="">
        <div class="card-body">
          
          <ul class="list-menu">
          <li><a href="#">People  </a></li>
          <li><a href="#">Watches </a></li>
          <li><a href="#">Cinema  </a></li>
          <li><a href="#">Clothes  </a></li>
          <li><a href="#">Home items </a></li>
          <li><a href="#">Animals</a></li>
          <li><a href="#">People </a></li>
          </ul>
  
        </div> <!-- card-body.// -->
      </div>
    </article> <!-- filter-group  .// -->
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
          <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Sizes </h6>
        </a>
      </header>
      <div class="filter-content collapse show" id="collapse_4" style="">
        <div class="card-body">
          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> XS </span>
          </label>
  
          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> SM </span>
          </label>
  
          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> LG </span>
          </label>
  
          <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> XXL </span>
          </label>
      </div><!-- card-body.// -->
      </div>
    </article> <!-- filter-group .// -->
    
    <article class="filter-group">
      <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
          <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Price range </h6>
        </a>
      </header>
      <div class="filter-content collapse show" id="collapse_3" style="">
        <div class="card-body">
          
          <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <!-- <input class="form-control" placeholder="$0" type="number"> -->
              <select class="mr-2 form-control">
              <option value="0">$0</option>
              <option value="50">$50</option>
              <option value="100">$100</option>
              <option value="150">$150</option>
              <option value="200">$200</option>
              <option value="500">$500</option>
              <option value="1000">$1000</option>
            </select>
          </div>
          <div class="form-group text-right col-md-6">
            <label>Max</label>
              <select class="mr-2 form-control">
              <option value="50">$50</option>
              <option value="100">$100</option>
              <option value="150">$150</option>
              <option value="200">$200</option>
              <option value="500">$500</option>
              <option value="1000">$1000</option>
              <option value="2000">$2000+</option>
            </select>
          </div>
          </div> <!-- form-row.// -->
          <button class="btn btn-block btn-primary">Apply</button>
        </div><!-- card-body.// -->
      </div>
    </article> <!-- filter-group .// -->
    
  </div> <!-- card.// -->
  
    </aside> <!-- col.// -->
    <main class="col-md-9">
  
  <header class="border-bottom mb-4 pb-3">
      <div class="form-inline">
        <span class="mr-md-auto"><b>{{vendors.count}} Restaurants found</b></span>
        
      </div>
  </header><!-- sect-heading -->
  
  <div class="row">
    {% for vendor in vendors %}
    <div class="col-md-4">
      <figure class="card card-product-grid">
        <div class="img-wrap"> 
          {% if vendor.vendor.vendorprofile.profile_picture %}
          <img width="259px" height="220px" src="{{ vendor.vendor.vendorprofile.profile_picture.url }}" alt="Profile Picture">
          {% else %}
           <p>No Profile Picture</p>
          {% endif %}       
        </div> <!-- img-wrap.// -->
        <figcaption class="info-wrap">
          <div class="fix-height">
            <h5 class="title"><a class="p-2" style="text-decoration:none" href="{% url 'vendor_details' vendor.vendor_slug %}">{{vendor.vendor_name}}</a></h5>
            <p class="p-2">{{vendor.vendor.vendorprofile.address}}</p>
            {% comment %} <div class="price-wrap mt-2">
              <span class="price">$1280</span>
              <del class="price-old">$1980</del>
            </div> <!-- price-wrap.// --> {% endcomment %}
          </div>
          <a href="{% url 'vendor_details' vendor.vendor_slug %}" class="btn btn-block btn-light">View Menu </a>
        </figcaption>
      </figure>
    </div> <!-- col.// -->  
    {% endfor %}
  </div> <!-- row end.// -->
  
  
  <nav class="mt-4" aria-label="Page navigation sample">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
  
    </main> <!-- col.// -->
  
  </div>
  
  </div> <!-- container .//  -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  

{% endblock content %}


